.maindiv{
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    height: 100vh;
     width: 0;   /* to complete hide the div in the starting  */
     transition: 1.0s
}
button{
    margin: 10px !important;
}
li{
    font-weight: bold;
    text-align: left;
    list-style-type: none;
    margin: 50px;
    color: black;
    font-size: 20px;
    display: none;  /* to complete hide the li in the starting  */
}